.navbar {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 70px;
    padding: 1.5rem;
    background: var(--bg-light);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.075);
}

.navbar ul li {
    z-index: 20000;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 15px;
    font-weight: 600;
}

.nav-item {
    padding: 1.5rem;
    /* text-decoration: none; */
    color: var(--text-dark);
    font-size: 15px;
    font-family: var(--font-text);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.nav-item:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

.hamburger {
    z-index: 10001;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        min-height: 100vh;
        text-align: center;
        background: var(--bg-orange);
        transition: 0.5s;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 1rem;
        /* font-size: 16px; */
        color: var(--text-light);
        justify-content: center;
    }

    .hamburger {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .nav-menu {
        width: 100%;
    }
}